@font-face {
  font-family: HankenGrotesk;
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
  /* Primary Colors */
  --clr-primary-red: hsl(0, 100%, 67%);
  --clr-primary-yellow: hsl(39, 100%, 56%);
  --clr-primary-teal: hsl(166, 100%, 37%);
  --clr-primary-blue: hsl(234, 85%, 45%);

  .red {
    color: var(--clr-primary-red);
  }
  .yellow {
    color: var(--clr-primary-yellow);
  }
  .teal {
    color: var(--clr-primary-teal);
  }
  .blue {
    color: var(--clr-primary-blue);
  }

  /* Primary Colors Background */
  --clr-primary-red-bckgrnd: hsla(0, 100%, 67%, 0.1);
  --clr-primary-yellow-bckgrnd: hsla(39, 100%, 56%, 0.1);
  --clr-primary-teal-bckgrnd: hsla(166, 100%, 37%, 0.1);
  --clr-primary-blue-bckgrnd: hsla(234, 85%, 45%, 0.1);

  .background-red {
    background: var(--clr-primary-red-bckgrnd);
  }

  .background-yellow {
    background: var(--clr-primary-yellow-bckgrnd);
  }

  .background-teal {
    background: var(--clr-primary-teal-bckgrnd);
  }

  .background-blue {
    background: var(--clr-primary-blue-bckgrnd);
  }
  /* Gradient Colors */
  /* background */
  --clr-gradient-light-slate-blue: hsl(252, 100%, 67%);
  --clr-gradient-light-royal-blue: hsl(241, 81%, 54%);

  /* circle */
  --clr-gradient-violet: hsla(256, 72%, 46%, 1);
  --clr-gradient-persian: hsla(241, 72%, 46%, 0);

  /* Neutral Colors  */
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

  /* Font Weights */

  --fw-regular: 500;
  --fw-semi-bold: 700;
  --fw-bold: 800;
}
button {
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--clr-neutral-dark-gray-blue);
  color: var(--clr-neutral-pale-blue);
  margin-top: 1rem;
  font-size: 1.6em;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--clr-gradient-light-slate-blue),
    var(--clr-gradient-light-royal-blue)
  );
}

body {
  font-family: HankenGrotesk;
  font-size: 1.125rem;
}

.grid-layout {
  display: grid;
  grid-template-areas:
    "one"
    "two";
}

@media (min-width: 48rem) {
  main {
    display: grid;
    place-content: center;
    height: 100svh;
  }
  .card {
    margin: auto;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.13);
    border-radius: 2rem;
    max-width: 768px;
  }
  .grid-layout {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-areas: "one two";
    place-content: center;
  }
  .result {
    border-radius: 2rem;
  }
  body {
    height: 100svh;
  }
  footer {
    margin-top: -5rem;
  }
}

.wrapper__narrow {
  width: 80%;
  margin-inline: auto;
}

/* Results Section */

.result {
  text-align: center;

  background: linear-gradient(
    to bottom,
    var(--clr-gradient-light-slate-blue),
    var(--clr-gradient-light-royal-blue)
  );
  color: var(--clr-neutral-lavender);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.circle {
  --circle-radius: 150px;

  height: var(--circle-radius);
  width: var(--circle-radius);
  border-radius: 50%;
  margin-inline: auto;
  background: linear-gradient(
    to top,
    var(--clr-gradient-persian),
    var(--clr-gradient-violet)
  );
  display: grid;
  place-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.circle h1 {
  color: var(--clr-neutral-pale-blue);
  font-size: 4rem;
}

.result h2 {
  margin-bottom: 1rem;
  color: var(--clr-neutral-pale-blue);
}

/* Summary Section */
.summary {
  margin: 2rem;
}

.summary h3 {
  margin-bottom: 2rem;
  color: var(--clr-neutral-dark-gray-blue);
}

.summary-grid {
  display: grid;
  gap: 1rem;
}

.flex-layout {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.inline-flex {
  display: inline-flex;
  gap: 1rem;
}

.inline-flex span {
  font-weight: var(--fw-semi-bold);
}

.border {
  border-radius: 0.5rem;
}
